@import "tailwindcss";

* {
  font-family: Ovo;
}

body {
  background: linear-gradient(135deg, white 40%, #e7cefb 60%);
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
}
